<h1>New Song</h1>
<form action="/songs" method="post">

  <label for="name">Name</label>
  <input type="text" name="song[name]" id="name">
  <br>

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" id="artist_name">
  <br>

  <label for="genres">Genres</label>
  <br>
  <% Genre.all.each do |genre| %>
    <label><%= genre.name %><input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"></label>
    <br>
  <% end %>
  
  <input type="submit" value="Create">
</form>